# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.keystore
*.jks
*.deb
*.apk
*.ap_

# iOS/macOS
.generated/
DerivedData/
Pods/
*.mo
*.webarchive

# Firebase
.firebase/
firestore.indexes.json
storage.rules
*.log

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
